/* Reset de márgenes y paddings */
* {
    margin: 0;
    padding: 0;
  }

.error-message {
    font-family: "Pixelify Sans", sans-serif;
    font-size: 30rem ;
    background-color: rgb(255, 250, 250);
    padding-left: 10px;
    padding-bottom: 30px;
    animation: marquee 7s linear infinite ;

}

@keyframes marquee {
    0% {
      transform: translateX(100%); /* Comienza fuera de la pantalla a la derecha */
    }
    100% {
      transform: translateX(-100%); /* Termina fuera de la pantalla a la izquierda */
    }  

error-code {
    font-family:

}