/* Reset de márgenes y paddings */
* {
    margin: 0;
    padding: 0;
  }

.error-message {
    font-family: "Pixelify Sans", sans-serif;
    font-size: 30rem ;
    padding-left: 10px;
    padding-bottom: 30px;
    animation: marquee 7s linear infinite ;

}

@keyframes marquee {
    0% {
      transform: translateX(100%); /* Comienza fuera de la pantalla a la derecha */
    }
    100% {
      transform: translateX(-100%); /* Termina fuera de la pantalla a la izquierda */
    }  
  }

.error-code {
  font-family: Funnel Display;
  font-size: 10rem;
  color: rgb(92, 21, 36);
  text-align: center;
}