/* Mobile Portrait */
@media only screen and (max-width: 600px) and (orientation: portrait) {
  header {
    font-family: Edwardian Script ITC;
    font-weight: normal;
    font-size: 7em;
    padding: 10px 0;
    text-align: left;
  }

  body {
    font-family: Futura Std Book;
    font-size: 18px;
    margin: 0;
    padding: 0;
    justify-content: right;
  }

  .text {
    font-size: 1.5rem;
  }
  .ascii {
    font-family: Cutive Mono;
    font-size: 0.2rem;
    text-align: left;
    margin: 0;
    padding: 0;
    margin-right: 2;
    display: flex;
    justify-content: center;
    color: #4d0024;
  }
  nav button {
    text-decoration: underline;
  }

  .ascii-med {
    font-family: Cutive Mono;
    font-size: 0.13rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 10%;
    color: #4d0024;
  }
  .aboutme-content {
    display: flex;
    flex-direction: column-reverse;
  }
  .lamb {
    font-family: Cutive Mono;
    font-size: 0.3rem;
    text-align: left;
    color: #4d0024;
  }
  h5 {
    font-family: Edwardian Script ITC;
    font-size: 3rem;
    color: #e72380;
  }
  .image-grid img {
    /* Ajusta el tamaño aquí */
    width: 300px;
    height: 300px;
  }
  .image-container {
    display: flex;
    width: 300px;
    height: 300px;
    justify-content: center;
    align-items: center;
    flex: 1 0 100%;
    margin: 5px;
    box-sizing: border-box;
  }
}

/* EndOf MobilePortrait */

/* Mobile Landscape */
@media only screen and (max-width: 800px) and (orientation: landscape) {
  header {
    font-family: Edwardian Script ITC;
    font-weight: normal;
    font-size: 10em;
    padding: 10px 0;
    text-align: left;
  }
  body {
    font-family: Futura Std Book;
    font-size: 20px;
    margin: 0;
    padding: 0;
    justify-content: right;
  }
  .text {
    font-size: 2rem;
    text-align: right;
  }
  nav button {
    text-decoration: underline;
  }

  .ascii {
    font-family: Cutive Mono;
    font-size: 0.4rem;
    text-align: left;
    margin: 0;
    padding: 0;
    margin-right: 2;
    display: flex;
    justify-content: center;
  }
  .ascii-med {
    font-family: Cutive Mono;
    font-size: 0.2rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 10%;
    color: #000000;
  }
  .aboutme-content {
    display: flex;
    flex-direction: column-reverse;
  }
  .lamb {
    font-family: Cutive Mono;
    font-size: 0.3rem;
    text-align: left;
  }
  h5 {
    font-family: Edwardian Script ITC;
    font-size: 4rem;
    color: #e72380;
  }
  .image-grid img {
    /* Ajusta el tamaño aquí */
    width: 200px;
    height: 200px;
  }
  .image-container {
    display: flex;
    width: 250px;
    height: 250px;
    justify-content: center;
    align-items: center;
    flex: 1 0 calc(50% - 20px);
    margin: 5px;
    box-sizing: border-box;
  }
}

/* Tablet Portrait */
@media only screen and (min-width: 601px) and (max-width: 1200px) and (orientation: portrait) {
  header {
    font-family: Edwardian Script ITC;
    font-weight: normal;
    font-size: 15rem;
    padding: 10px 0;
    text-align: left;
  }
  body {
    font-family: Futura Std Book;
    font-size: 22px;
    margin: 0;
    padding: 0;
    justify-content: right;
  }
  .text {
    font-size: 2.5rem;
    text-align: right;
  }
  .ascii {
    font-family: Cutive Mono;
    font-size: 0.6rem;
    text-align: left;
    margin: 0;
    padding: 0;
    margin-right: 2;
    display: flex;
    justify-content: center;
  }
  .ascii-med {
    font-family: Cutive Mono;
    font-size: 0.25rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 10%;
    color: #000000;
  }
  .aboutme-content {
    display: flex;
    flex-direction: column-reverse;
  }
  .lamb {
    font-family: Cutive Mono;
    font-size: 0.3rem;
    text-align: left;
  }
  h5 {
    font-family: Edwardian Script ITC;
    font-size: 5rem;
    color: #e72380;
  }
  .image-grid img {
    /* Ajusta el tamaño aquí */
    width: 200px;
    height: 200px;
  }
  .image-container {
    display: flex;
    width: 250px;
    height: 250px;
    justify-content: center;
    align-items: center;
    flex: 1 0 calc(50% - 20px);
    margin: 5px;
    box-sizing: border-box;
  }
}
/* Tablet Landscape */
@media only screen and (min-width: 801px) and (max-width: 1200px) and (orientation: landscape) {
  header {
    font-family: Edwardian Script ITC;
    font-weight: normal;
    font-size: 15rem;
    padding: 10px 0;
    text-align: left;
  }
  body {
    font-family: Futura Std Book;
    font-size: 22px;
    margin: 0;
    padding: 0;
    justify-content: right;
  }
  .text {
    font-size: 3rem;
    text-align: right;
  }
  .ascii {
    font-family: Cutive Mono;
    font-size: 0.6rem;
    text-align: left;
    margin: 0;
    padding: 0;
    margin-right: 2;
    display: flex;
    justify-content: center;
  }
  .ascii-med {
    font-family: Cutive Mono;
    font-size: 0.2rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 10%;
    color: #000000;
  }
  .aboutme-content {
    display: flex;
    flex-direction: column-reverse;
  }
  .lamb {
    font-family: Cutive Mono;
    font-size: 0.3rem;
    text-align: left;
  }
  h5 {
    font-family: Edwardian Script ITC;
    font-size: 5rem;
    color: #e72380;
  }
  .image-grid img {
    /* Ajusta el tamaño aquí */
    width: 200px;
    height: 200px;
  }
  .image-container {
    display: flex;
    width: 220px;
    height: 220px;
    justify-content: center;
    align-items: center;
    flex: 1 0 calc(33.333% - 10px); /* Tres columnas con espacio entre ellas */
    margin: 5px;
    box-sizing: border-box;
  }
}

/* Small Desktop ------------------------------------------------------------ */
@media only screen and (min-width: 1201px) and (max-width: 1600px) {
  header {
    font-family: Edwardian Script ITC;
    font-weight: normal;
    font-size: 15rem;
    padding: 10px 0;
    text-align: left;
  }
  body {
    font-family: Futura Std Book;
    font-size: 22px;
    margin: 0;
    padding: 0;
    justify-content: right;
  }
  .text {
    font-size: 3rem;
    text-align: right;
  }
  .ascii {
    font-family: Cutive Mono;
    font-size: 0.4rem;
    text-align: left;
    margin: 0;
    padding: 0;
    margin-right: 2;
    display: flex;
    justify-content: center;
  }
  .ascii-med {
    font-family: Cutive Mono;
    font-size: 0.2rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 10%;
    color: #000000;
  }
  .aboutme-content {
    display: flex;
    flex-direction: column-reverse;
  }
  .lamb {
    font-family: Cutive Mono;
    font-size: 0.3rem;
    text-align: left;
  }
  h5 {
    font-family: Edwardian Script ITC;
    font-size: 5rem;
    color: #e72380;
  }
  .image-grid img {
    /* Ajusta el tamaño aquí */
    width: 350px;
    height: 350px;
  }
  .image-container {
    display: flex;
    width: 400px;
    height: 400px;
    justify-content: center;
    align-items: center;
    flex: 1 0 calc(33.333% - 10px); /* Tres columnas con espacio entre ellas */
    margin: 5px;
    box-sizing: border-box;
  }
}
/* Large Desktop */
@media only screen and (min-width: 1601px) {
  header {
    font-family: Edwardian Script ITC;
    font-weight: normal;
    font-size: 17rem;
    padding: -5px;
    text-align: left;
  }
  body {
    font-family: Futura Std Book;
    font-size: 27px;
    margin: 0;
    padding: 0;
  }
  .text {
    font-size: 3rem; /* Tamaño de fuente ajustado */
  }
  .ascii {
    font-size: 0.7rem;
    text-align: left;
    margin: 0;
    padding: 0;
    margin-right: 2;
    display: flex;
    justify-content: center;
  }
  .ascii-med {
    font-family: Cutive Mono;
    font-size: 0.4rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 10%;
  }
  .lamb {
    font-family: Cutive Mono;
    font-size: 0.7rem;
    text-align: left;
    justify-content: center;
  }
  .texto-aboutme {
    font-family: Futura Std Book;
    font-size: 1.2rem;
    text-align: left;
    margin-bottom: 10px;
  }
  h5 {
    font-family: Edwardian Script ITC;
    font-size: 7rem;
    color: #e72380;
    margin-top: 20px;
  }
  .image-grid {
    display: flex;
    flex-wrap: wrap;
  }
  .image-container {
    flex: 1 0 calc(33.333% - 10px); /* Tres columnas con espacio entre ellas */
    margin: 5px;
    width: 500px; /* Aumenta el tamaño aquí */
    height: 500px;
    justify-content: center;
    box-sizing: border-box;
  }
  .image-container img {
    width: 400px; /* Ajusta el tamaño aquí */
    height: 400px;

    cursor: pointer;
  }
}
