/* Mobile Portrait */
@media only screen and (max-width: 600px) and (orientation: portrait) {
  body {
    font-family: Arial, sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  .ascii {
    font-family: Cutive Mono;
    font-size: 0.2rem;
    text-align: left;
    margin: 0;
    padding: 0;
    margin-right: 2;
    display: flex;
    justify-content: center;
  }
}

/* EndOf MobilePortrait */

/* Mobile Landscape */
@media only screen and (max-width: 800px) and (orientation: landscape) {
}

/* Tablet Landscape */
@media only screen and (min-width: 801px) and (max-width: 1200px) and (orientation: landscape) {
  body {
    font-family: Arial, sans-serif;
    font-size: 24px;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  .ascii {
    font-family: Cutive Mono;
    font-size: 0.2rem;
    text-align: left;
    margin: 0;
    padding: 0;
    margin-right: 2;
    display: flex;
    justify-content: center;
  }
}

/* Small Desktop */
@media only screen and (min-width: 1201px) and (max-width: 1600px) {
}
