:root {
    /* Custom color palette */
    --background: #fffafa; /* #323B42 */
    --foreground: #3d0202; /* #FCFBF9 */
  
    --popover: hsl(24, 29%, 80%); /* #D9C7BE */
    --popover-foreground: #e7f0fa; /* #323B42 */
  
    --primary: rgb(255, 239, 239); /* #635B58 */
    --primary-foreground: rgb(70, 56, 56); /* #FCFBF9 */
  
    --secondary: rgb(219, 245, 255); /* #A59B95 */
    --secondary-foreground: hsla(209, 12%, 22%, 1); /* #323B42 */
  
    --muted: rgb(130, 115, 115); /* #8C817B */
    --muted-foreground: rgb(168, 155, 173); /* #FCFBF9 */
  
    --accent: rgb(145, 0, 0); /* #B5A79F */
    --accent-foreground: rgb(197, 110, 110); /* #635B58 */
  
    --destructive: rgb(145, 94, 94); /* #3B3634 */
    --destructive-foreground: rgb(189, 128, 128); /* #FCFBF9 */
  
    --border: rgb(255, 141, 141); /* #A59B95 */
    --input: rgb(255, 74, 74); /* #B5A79F */
    --ring: rgb(0, 128, 255); /* #323B42 */
  
    /* Combinations */
    .card {
      background-color: var(--card);
      color: var(--card-foreground);
    }
  
    .popover {
      background-color: var(--popover);
      color: var(--popover-foreground);
    }
  
    .primary {
      background-color: var(--primary);
      color: var(--primary-foreground);
    }
  
    .secondary {
      background-color: var(--secondary);
      color: var(--secondary-foreground);
    }
  
    .muted {
      background-color: var(--muted);
      color: var(--muted-foreground);
    }
  
    .accent {
      background-color: var(--accent);
      color: var(--accent-foreground);
    }
  
    .destructive {
      background-color: var(--destructive);
      color: var(--destructive-foreground);
    }
  }