header {
  font-family: Pinyon Script;
  font-weight: normal;
  font-size: 5em;
  color: #400000;
  padding: 10px 0;
  text-align: left;
}


nav {
  display: flex;
  flex-direction: column;
  justify-content: left;
}
nav button {
  font-size: 1em;
  background-color: transparent;
  border: none;
  padding: 15px 20px;
  margin: 5px 0;
  cursor: pointer;
  width: 100%;
  max-width: 200px;
  text-align: left;
}
nav button:hover {
  text-decoration: underline;
}
section {
  padding: 20px;
}

.introduction-content {
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.introduction-content .text-img {
  display: flex;
  align-items: center;
  width: 100%;
}
.introduction-content.text-img img {
  margin-right: 20px;
  max-width: 300px;
  height: auto;
}
.center-img img {
  display: flex;
  align-items: center;
  max-width: 500px;
  height: auto;
}

h4 {
  font-family: Pinyon Script;
  min-height: 100vh;
}
