/*header-en media-queries-tamaño txt*/
/*a lo mejor no hace falta que lo pase
porque se modifican autometicamente cambiendo el 
tamaño del body*/

nav {
  display: flex;
  flex-direction: column;
  justify-content: left;
}
nav button {
  font-size: 1em;
  color: #834f4f;
  background-color: transparent;
  border: none;
  padding: 2px 20px;
  margin: 5px 0;
  cursor: pointer;
  width: 100%;
  max-width: 400px;
  text-align: left;
}
nav button:hover {
  text-decoration: underline;
}
section {
  display: flex;
  flex-direction: column;
}

.introduction-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.text {
  align-content: right;
}
.center-img img {
  display: flex;
  align-items: center;
  max-width: 500px;
  height: auto;
}
/* Estilos para el contenedor de contenido */
.aboutme-content {
  
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* Estilos para los párrafos dentro de texto-aboutme */
/*h5-en media-queries-tamaño txt*/

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #ffffff;
}
.footer a {
  display: flex;
  align-items: left;
  text-decoration: none;
  color: inherit;
}
.footer img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  filter: brightness(0) saturate(100%) invert(28%) sepia(81%) saturate(2766%)
    hue-rotate(306deg) brightness(82%) contrast(97%);
}

/*editar lamb en todos los tamaños*/
