/* Set the CSS variable based on an estimated height */
:root {
    --header-height: 8px; /* Estimate the height */
    --footer-height: var(--header-height); /* Estimate the height */
}

/* Basic reset for consistent margins and paddings */
           
* {
    margin: 0;
    padding: 70;
    box-sizing: border-box;
}

header{
    font-family: Arial, Helvetica, sans-serif;
    min-height: 200vh;
    display: block;
    justify-content:left;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    background-color: var(--background);
    color: --primary;
    display: block;
    flex-direction: column; /* Arrange items in a column */
    justify-content:right

}